@use 'colors';

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 30px;
}

h1, h2, h3 {
    color: colors.$text
}

h1, h2, h3{
    font-family: 'merlin', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p{
    text-indent: 1em;
}

.title a{
    text-decoration: none;
    
}

