@use 'colors';
@font-face {
    font-family: "Merlin";
    src: url("https://example.com/fonts/Merlin.woff2") format("woff2"),
         url("https://example.com/fonts/Merlin.woff") format("woff");
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 30px;
}

h1, h2, h3 {
    color: colors.$text
}


h1, h2, h3{
    font-family: "Merlin","Roboto", sans-serif;
    font-weight: 400;
}

.title h1, .title h2{
    font-family: "Merlin", "Roboto", sans-serif;
}

.welcome h1, .welcome h2{
    font-family: "Merlin", "Roboto", sans-serif;
}

h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p{
    text-indent: 1em;
}

.title a{
    text-decoration: none;
    
}

