@use 'colors';



footer .social a{
    color: white;
    font-size: 40px;
    margin: 0 10px;
}

footer .social a:hover i.fa-facebook{
    color: #1877F2;
}

footer .social a:hover i.fa-instagram{
    color: #E4405F ;
}


footer .social a:hover i.fa-youtube{
    color: #CD201F;
}




.footer {
    background-color: #333;
    color: #fff; 
    padding: 20px;
    text-align: center; 
    line-height: 1.5;
}

.footer h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.footer h2 {
    margin-top: 5px;
    font-size: 18px;
    color:white;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
    color: colors.$primary;
}

.footer_menu{
    margin: 5px 0;
}