@use 'colors';

.prihlaska {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 20px;
}

.formular {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.formular h1 {
    margin-bottom: 20px;
}

.formular label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.formular input, 
.formular select, 
.formular textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formular button {
    display: block;
    width: 100px;
    height: 35px;
    margin: 10px auto 20px;
    padding: 5px;
    background-color: colors.$primary; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.formular button:hover {
    background-color: colors.$secondary;
}


//responzivni design
@media screen and (min-width: 850px) {

    .prihlaska {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
    }
           
    .formular {
        max-width: 900px;
        text-align: left;
    }

    .formular h1 {
        text-align: center;
    }

    
}